
@model BilalEADProject.Models.Customer

@{
    ViewBag.Title = "Delete";
}

<div class="row" style="text-align:center; margin-bottom:105px">
    <div class="col-sm-3 col-sm-offset-4 " size="50px">


        <form action="/Admin/Deletion" method="post">



            <div class="editor-field">

                @Html.TextBoxFor(model => model.UserName, null, new { placeholder = "Username", type = "text", id = "t1", style = "height:30px ; width:300px ;font-size:small ; border-radius: 25px; border: 2px solid #D3D3D3; padding: 20px" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>




            <br />

            

            <br />

            <button class="btn btn-lg btn-primary btn-block" type="submit" >Delete</button>
            </div>
    </div>

