@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <style>
        body {
            background: url(../../css/images/about.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-attachment: fixed;
            background-color: #dbc3a3;
        }
    </style>

</head>
<body>

    <br />
    <div class="row" style="margin-bottom:85px">
        <div class="column-md-2 navbar-left">
            <img src="~/Image/s6.jpg" alt="About E-Mobile" height="330" width="650" style="margin-left:25px">

        </div>

        <div style="margin-left:10px" class="col-lg-4 ">
            <h3 style="font-family: 'BankGothic Lt BT'; margin-left: 10px; color: #a60707;"><span class="glyphicon glyphicon-pencil" style=" color #1f0d07;"></span> About A4AAA</h3>
            <p style="font-size: 20px; font-family: 'BankGothic Lt BT'; color: #ec3237; ">

                "E-Mobile" is an online web site for sale purchase of cars and other automobile, we deal in all kinds of spare parts. This site also acts
                as an open forum where buyers and sellers can come together and exchange their products.
                Briefly, E-Mobile provides an environment which enables trading and sale purchase  for ANYONE, ANYTIME &amp; ANYWHERE.

            </p>

        </div>


    </div>

</body>
</html>